# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that are used by Data Sciencetists are
1. Python 
2. R
3. SQL
4. Java
5. C/C++

Some of the commonly used libraries used by Data Scientists are:

    1. TensorFlow.
    2. NumPy.
    3. SciPy.
    4. Pandas.
    5. Scikit-Learn.
    6. PyTorch.
    7. Matplotlib.

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFLow|
|Jupyter Notebook|

### Below are few examples of evaluating arithmetic expressions in Python.

In [3]:
#This is the common arithmetic expression to multiply and then addition
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives:__
* List of popular languages for Data Science
* Creation of markdown cell
* List of popular libraries for Data Science
* List of well known Data Science Tools

## Author
Chinmay Gedam